name: Fly Deploy
on:
  push:
    branches:
      - master
jobs:
  install-build-fe:
    name: Install Front End
    runs-on: ubuntu-latest
    defaults:
      run:
          working-directory: ./front-end
    steps:
        - uses: actions/checkout@v2
        - name: Use Node.js 16.x
          uses: actions/setup-node@v3
          with:
            node-version: 16.x
        - run: yarn install
        - run: yarn run build
  inject-fe:
    name: Inject Front End
    runs-on: ubuntu-latest
    defaults:
      run:
          working-directory: ./back-end
    steps:
    - uses: actions/checkout@master
    - name: Copy the Readmes
      run: test -d "./_ui" || mkdir "./_ui" && cp -R "../front-end/build/"* "./_ui"
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    defaults:
      run:
          working-directory: ./back-end
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
